<!-- <link rel="stylesheet" href="../css/styles.css"> -->

<categoriescomponent categories=catctrl.categories> </categoriescomponent>


<!-- <div class="container container-fluid" >

   <div id="home-titles" class="row"
   >
    <ul>
      <li ng-repeat= "category in $ctrl.categories">

        category: {{category.name}}

    <div class="col-sm-4 col-lg-2 col-md-4 col-xs-6 menu-img categories">
      <img ng-src="css/images/{{category.name}}.jpg" ui-sref=#>
      <div class="categories">
          <span>{{category.name}}</span>
      </div></img>
    </div>
  </li>
    </ul>
    </div>
    </div> -->

<!--
    <div class="col-sm-4 col-lg-2 col-md-3 col-xs-6 menu-img categories" ng-controller="CategoriesController as catctrl">
          <img src="css/images/breakfast.jpg">
          <a ui-sref=#><div class="categories">
              <span>Breakfast Menu</span>
          </div></a>
          </div> -->





  <!-- <div id="home-titles" class="row" >
    <div class="col-sm-4 col-lg-2 col-md-4 col-xs-6 menu-img">

      <a ui-sref='breakfaststate'><div class="categories" id="breakfast">
          <span>Breakfast Menu</span>
      </div></a>
      </div>

      <div class="col-sm-4 col-lg-2 col-md-4 col-xs-6 menu-img">
        <a ui-sref='snackstate'><div class="categories" id="snacks">
            <span>Snacks</span>
        </div></a>
      </div>
      <div class="col-sm-4 col-lg-2 col-md-4 col-xs-6 menu-img">

        <a ui-sref='sidestate'><div class="categories" id="sides">
            <span>Sides</span>
        </div></a>
      </div>
      <div class="col-sm-4 col-lg-2 col-md-4 col-xs-6 menu-img">

        <a ui-sref='biryanistate'><div class="categories" id="biryani">
            <span>Biryanis</span>
        </div></a>
      </div>
      <div class="col-sm-4 col-lg-2 col-md-4 col-xs-6 menu-img">

        <a ui-sref='combostate'><div class="categories" id="combo">
            <span>Combo Menu</span>
        </div></a>
      </div>
      <div class="col-sm-4 col-lg-2 col-md-4 col-xs-6 menu-img">

        <a ui-sref='dessertstate'><div class="categories" id="dessert">
            <span>Desserts</span>
        </div></a>
      </div>
    </div>
  </div> -->
